name: MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train-pipeline:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: HuggingFace Login
      run: |
        hf auth login --token "${{ secrets.HF_TOKEN }}"

    - name: Run Data Preparation
      run: |
        python src/data_preparation.py

    - name: Run Training
      run: |
        python src/train_model.py
